In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.read_csv('csv1_ocs.csv')

   one  two   three
0    1            3

In [3]:
df = pd.read_csv('csv1_ocs.csv')

In [4]:
df.columns

Index(['one', ' two', ' three'], dtype='object')

In [5]:
df['one']

0    1
Name: one, dtype: int64

In [6]:
print(df.replace(' ', 2, ))

   one   two   three
0    1     2       3

In [7]:
df.to_csv('csv3_ocs.csv')